.accordion-item {
    border: 1px solid #a22ec5;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .accordion-header {
    background-color: #1e9fb9;
    color: #a53636;
    cursor: pointer;
    padding: 10px;
  }
  
  .accordion-content {
    display: none;
    padding: 10px;
    background-color: #a22ec5;
    border: 1px solid #ffffff;
  }
  